<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="org.odairfreitas.repsejaoapp"
        version="1.0.0">

    <name>República do Serjão</name>

    <description>
        Aplicativo da República do Serjão.
    </description>

    <author href="https://www.linkedin.com/in/odair-freitas-768533121/" email="dair00f@yahoo.com.br">
        Odair Freitas
    </author>
	
	<!-- Parametros -->
	<preference name="phonegap-version" value="cli-6.5.0" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference	name="permissions" value="none"	/>
	<preference	name="android-minSdkVersion" value="16"	/>
	
	<!-- Build apenas para Android -->
	<gap:platform	name="android"	/>
	
	<!-- Icones do aplicativo -->
	<icon src="icon.png" />
    <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.png" />
    
</widget>
